<ion-header>
    <ion-navbar color="laranja">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>HOME</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-card>
        <ion-card-content>
            <ion-card-title>
                Nome
            </ion-card-title>
            <p>
                Itens
            </p>
            <p>
                Valor
            </p>
            <p>
                Data
            </p>
        </ion-card-content>
    </ion-card>

    <br>
    <button class="select-image" ion-button block *ngIf="!srcImage" (click)="presentActionSheet()" color="light">
        <ion-icon name="camera"></ion-icon>
    </button>
    
    <div *ngIf="srcImage" class="image-wrapper">
        <img id="image" [src]="srcImage" />
        <button ion-button icon-left block (click)="analyze()" color="light">
            <ion-icon name="search"></ion-icon>
            Read
        </button>
        <button ion-button icon-left block (click)="restart()" color="light">
            <ion-icon name="refresh"></ion-icon>
            Restart
        </button>
    </div>



    <ion-fab right bottom>
        <button ion-fab color="verde">
            <ion-icon name="add"></ion-icon>
        </button>
        <ion-fab-list side="top">
            
            <button ion-fab (click)="takePicture()"><ion-icon name="camera"></ion-icon></button>
            <button ion-fab (click)="pickImageFromGallery()"><ion-icon name="photos"></ion-icon></button>
            <button ion-fab (click)="codigoBarras()"><ion-icon name="barcode"></ion-icon></button>
        
        </ion-fab-list>
    </ion-fab>
    
</ion-content>
